USE [master]
GO
/****** Object:  Database [tntt]    Script Date: 21/03/2021 09:52:22 ******/
CREATE DATABASE [tntt]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tntt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tntt]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_account]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_get_account] @un nvarchar(50), @pw nvarchar(50)
as
begin
	select * from tbl_taikhoan as tk inner join dm_quyen as q on tk.FK_iMaQ = q.PK_iMaQ
	where PK_sMaTK = @un and sPassword = @pw
end
GO
/****** Object:  Table [dbo].[dm_mon]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dm_mon](
	[PK_sMaMon] [nvarchar](50) NOT NULL,
	[sTenMon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_sMaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dm_quyen]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dm_quyen](
	[PK_iMaQ] [int] IDENTITY(1,1) NOT NULL,
	[sTenQ] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iMaQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_bailam]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_bailam](
	[PK_iMaBL] [int] IDENTITY(1,1) NOT NULL,
	[FK_iMaD] [nvarchar](50) NULL,
	[FK_sMaSV] [nvarchar](50) NULL,
	[dThoiGianBD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iMaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_cauhoi]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cauhoi](
	[PK_iMaCH] [int] IDENTITY(1,1) NOT NULL,
	[sCauHoi] [nvarchar](256) NOT NULL,
	[FK_sMaMon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iMaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ctbl]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ctbl](
	[PK_iMaCTBL] [int] IDENTITY(1,1) NOT NULL,
	[FK_iMaDA] [int] NULL,
	[FK_iMaBL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iMaCTBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_dapan]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dapan](
	[PK_iMaDA] [int] IDENTITY(1,1) NOT NULL,
	[iSTT] [int] NOT NULL,
	[sDapAn] [nvarchar](256) NOT NULL,
	[iDung] [bit] NULL,
	[FK_sMaCH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iMaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_de]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_de](
	[PK_sMaD] [nvarchar](50) NOT NULL,
	[FK_iMaDT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_sMaD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_de_cauhoi]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_de_cauhoi](
	[PK_iMaD_CH] [int] IDENTITY(1,1) NOT NULL,
	[FK_sMaD] [nvarchar](50) NULL,
	[FK_iMaCH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iMaD_CH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_dotthi]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dotthi](
	[PK_sMaDT] [nvarchar](50) NOT NULL,
	[FK_sMaMon] [nvarchar](50) NULL,
	[iNam] [int] NULL,
	[iKi] [int] NULL,
	[iSoCau] [int] NOT NULL,
	[iThoiGian] [int] NOT NULL,
	[dNgayBD] [datetime] NULL,
	[dNgayKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_sMaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_taikhoan]    Script Date: 21/03/2021 09:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_taikhoan](
	[PK_sMaTK] [nvarchar](50) NOT NULL,
	[sPassword] [nvarchar](50) NOT NULL,
	[sTen] [nvarchar](50) NULL,
	[sLop] [nvarchar](50) NULL,
	[FK_iMaQ] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_sMaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[dm_quyen] ON 

INSERT [dbo].[dm_quyen] ([PK_iMaQ], [sTenQ]) VALUES (1, N'admin')
INSERT [dbo].[dm_quyen] ([PK_iMaQ], [sTenQ]) VALUES (2, N'Giảng viên')
INSERT [dbo].[dm_quyen] ([PK_iMaQ], [sTenQ]) VALUES (3, N'Sinh viên')
SET IDENTITY_INSERT [dbo].[dm_quyen] OFF
INSERT [dbo].[tbl_taikhoan] ([PK_sMaTK], [sPassword], [sTen], [sLop], [FK_iMaQ]) VALUES (N'admin', N'1', N'Admin', NULL, 1)
INSERT [dbo].[tbl_taikhoan] ([PK_sMaTK], [sPassword], [sTen], [sLop], [FK_iMaQ]) VALUES (N'giangvien', N'2', N'Giảng viên 1', NULL, 2)
INSERT [dbo].[tbl_taikhoan] ([PK_sMaTK], [sPassword], [sTen], [sLop], [FK_iMaQ]) VALUES (N'sinhvien', N'3', N'Sinh viên 1', NULL, 3)
ALTER TABLE [dbo].[tbl_bailam]  WITH CHECK ADD FOREIGN KEY([FK_iMaD])
REFERENCES [dbo].[tbl_de] ([PK_sMaD])
GO
ALTER TABLE [dbo].[tbl_bailam]  WITH CHECK ADD FOREIGN KEY([FK_sMaSV])
REFERENCES [dbo].[tbl_taikhoan] ([PK_sMaTK])
GO
ALTER TABLE [dbo].[tbl_cauhoi]  WITH CHECK ADD FOREIGN KEY([FK_sMaMon])
REFERENCES [dbo].[dm_mon] ([PK_sMaMon])
GO
ALTER TABLE [dbo].[tbl_ctbl]  WITH CHECK ADD FOREIGN KEY([FK_iMaDA])
REFERENCES [dbo].[tbl_dapan] ([PK_iMaDA])
GO
ALTER TABLE [dbo].[tbl_ctbl]  WITH CHECK ADD FOREIGN KEY([FK_iMaBL])
REFERENCES [dbo].[tbl_bailam] ([PK_iMaBL])
GO
ALTER TABLE [dbo].[tbl_dapan]  WITH CHECK ADD FOREIGN KEY([FK_sMaCH])
REFERENCES [dbo].[tbl_cauhoi] ([PK_iMaCH])
GO
ALTER TABLE [dbo].[tbl_de]  WITH CHECK ADD FOREIGN KEY([FK_iMaDT])
REFERENCES [dbo].[tbl_dotthi] ([PK_sMaDT])
GO
ALTER TABLE [dbo].[tbl_de_cauhoi]  WITH CHECK ADD FOREIGN KEY([FK_iMaCH])
REFERENCES [dbo].[tbl_cauhoi] ([PK_iMaCH])
GO
ALTER TABLE [dbo].[tbl_de_cauhoi]  WITH CHECK ADD FOREIGN KEY([FK_sMaD])
REFERENCES [dbo].[tbl_de] ([PK_sMaD])
GO
ALTER TABLE [dbo].[tbl_dotthi]  WITH CHECK ADD FOREIGN KEY([FK_sMaMon])
REFERENCES [dbo].[dm_mon] ([PK_sMaMon])
GO
ALTER TABLE [dbo].[tbl_taikhoan]  WITH CHECK ADD FOREIGN KEY([FK_iMaQ])
REFERENCES [dbo].[dm_quyen] ([PK_iMaQ])
GO
USE [master]
GO
